.container {
  width: 1200px;
  margin: auto;
  padding: 0 15px;

}

.Box {
  margin-top: 20%;
}
.inputfield{
  display: flex;
  flex-direction: column;

}
.center{
  border: 10px solid;
  margin-top: 5%;
}
canvas{
  /* width: 900px !important; */
  margin-top: 50px;
}
.inputfield input{
  padding: 10px;
  border: 1px solid;
  border-radius: 10px;
  outline: none;
}

.Button2 {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -15px;

  justify-content: center;


}

.row2 {
  flex-flow: nowrap !important;

}

.row [class^="col"] {
  flex: 1 1 auto;
  padding: 0 15px;
}

.row .col-1 {
  flex-basis: 8.33%;
}

.row .col-2 {
  flex-basis: 16.66%;
}

.row .col-3 {
  flex-basis: 25%;
}

.row .col-4 {
  flex-basis: 33.33%;
}

.row .col-5 {
  flex-basis: 41.66%;
}

.row .col-6 {
  flex-basis: 50%;
}

.row .col-7 {
  flex-basis: 58.33%;
}

.row .col-8 {
  flex-basis: 66.66%;
}

.row .col-9 {
  flex-basis: 75%;
}

.row .col-10 {
  flex-basis: 83.33%;
}

.row .col-11 {
  flex-basis: 91.66%;
}

.row .col-12 {
  flex-basis: 100%;
}

.input {
  text-align: center;
}

.innerItem {
  padding: 5px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.button {
  margin: 10px;
}

.button {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button4:focus {
  outline: 1px transparent;
}

.button:before {
  display: none;
}

.button:-webkit-details-marker {
  display: none;
}

.innerItem img {
  height: 200px;
  width: 200px;
}

h1 {
  text-align: center;


}

.header {
  text-align: center;
}

.input input {
  padding: 10px;
  border: 1px dashed;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.input input:focus {
  border: none;
  outline: none;

}

.input button {
  padding: 14px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
}